.events {
    background: #000;
    padding: 50px 20px;
  }
  
  .events h2 {
    margin-bottom: 20px;
    font-size: 50px;
    color: #ffc107;
  }
  
  .events .event-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .events .event-cards .card {
    background: #222;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    transition: transform 0.3s, box-shadow 0.3s;
    border: 1px solid #444;
    width: 250px;
  }
  
  .events .event-cards .card h3 {
    font-size: 44px;
    margin-bottom: 10px;
    color: #ffc107;
  }
  
  .events .event-cards .card p {
    font-size: 28px;
    margin-bottom: 15px;
    line-height: 1.6;
  }
  
  .events .event-cards .card .card-btn {
    padding: 10px 20px;
    background: #ffc107;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s, color 0.3s;
  }
  
  .events .event-cards .card .card-btn:hover {
    background: #000;
    color: #fff;
  }
  
  .events .event-cards .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }