header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px; /* Adds space between the two logos */
  }
  
  .logo {
    max-width: 50px; /* Set the maximum width for the logos */
    height: 50px;
  }

  .logo2 {
    padding-top: 4px;
    width: 50px; /* Same width as logo1 */
    height: 50px; /* Same height as logo1 */
    transform: scale(3.5); /* Zoom in logo2 by 1.5x */
    transform-origin: center; /* Ensure it zooms in from the center */
  }
  
  header h1 {
    font-size: 40px;
    color: #ffc107;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  .menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #ffc107;
  }
  
  @media (max-width: 768px) {
    header h1 {
      font-size: 30px;
    }
  
    nav ul {
      display: none;
    }
  
    .menu-icon {
      display: block;
    }
  }