.App {
  text-align: center;
}

.sponsor-container {
  display: flex;
  gap: 40px;
  padding: 20px 0;
  width: max-content;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}